<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546762018536-sk370nt8jcedp78hmnusj52dks6t0cac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546762018536-sk370nt8jcedp78hmnusj52dks6t0cac</string>
	<key>API_KEY</key>
	<string>AIzaSyC0mtzXRoJElYT8Y7tLAGZKz1S2t8t7_IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>546762018536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FaceDetection</string>
	<key>PROJECT_ID</key>
	<string>visionml-78515</string>
	<key>STORAGE_BUCKET</key>
	<string>visionml-78515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546762018536:ios:a1fb421d67762f2eff035d</string>
	<key>DATABASE_URL</key>
	<string>https://visionml-78515.firebaseio.com</string>
</dict>
</plist>